<template>
    <div class="calculator">

        <input type="text" class="calculator-screen" v-model="typedValue" disabled />

        <div class="calculator-keys">

            <button type="button" class="operator" v-on:click="operatorClicked('+')">+</button>
            <button type="button" class="operator" v-on:click="operatorClicked('-')">-</button>
            <button type="button" class="operator" v-on:click="operatorClicked('*')">&times;</button>
            <button type="button" class="operator" v-on:click="operatorClicked('/')">&divide;</button>

            <button type="button" v-on:click="buttonClicked(7)">7</button>
            <button type="button" v-on:click="buttonClicked(8)">8</button>
            <button type="button" v-on:click="buttonClicked(9)">9</button>

            <button type="button" v-on:click="buttonClicked(4)">4</button>
            <button type="button" v-on:click="buttonClicked(5)">5</button>
            <button type="button" v-on:click="buttonClicked(6)">6</button>

            <button type="button" v-on:click="buttonClicked(1)">1</button>
            <button type="button" v-on:click="buttonClicked(2)">2</button>
            <button type="button" v-on:click="buttonClicked(3)">3</button>

            <button type="button" v-on:click="buttonClicked(0)">0</button>
            <button type="button" class="decimal" v-on:click="buttonClicked('.')">.</button>
            <button type="button" class="all-clear" v-on:click="clear">AC</button>

            <button type="button" class="equal-sign" v-on:click="operatorClicked('=')">=</button>

        </div>
    </div>
</template>

<script>
import { operatorsEnum, add, sub, div, mult } from '../classes/Operators'
export default {
  name: 'Calculator',
  methods: {
    operatorClicked (value) {
      this.cleanInputWhenType = true
      var operator = this.getOperator(value)
      this.applyOperator(operator)
      this.typedValue = this.result.toString()
    },
    getOperator (value) {
      switch (value) {
        case '+': return operatorsEnum.ADD
        case '-': return operatorsEnum.SUB
        case '*': return operatorsEnum.TIMES
        case '/': return operatorsEnum.DIV
        case '=': return operatorsEnum.EQUALS
        default: return operatorsEnum.UNDEFINED
      }
    },
    applyOperator (operator) {
      if (this.isFirstNumber) {
        this.isFirstNumber = false
        this.result = Number(this.typedValue)
        this.currentOperator = operator
        return
      }

      switch (operator) {
        case operatorsEnum.ADD:
          this.currentOperator = operator
          this.result = add(this.result, Number(this.typedValue))
          break
        case operatorsEnum.SUB:
          this.currentOperator = operator
          this.result = sub(this.result, Number(this.typedValue))
          break
        case operatorsEnum.TIMES:
          this.currentOperator = operator
          this.result = mult(this.result, Number(this.typedValue))
          break
        case operatorsEnum.DIV:
          this.currentOperator = operator
          this.result = div(this.result, Number(this.typedValue))
          break
        case operatorsEnum.EQUALS:
          this.applyOperator(this.currentOperator)
          this.isFirstNumber = true
          this.currentOperator = operatorsEnum.UNDEFINED
          break
      }
    },
    buttonClicked (value) {
      if (this.typedValue.includes('.') && value === '.') {
        return
      }

      if (this.cleanInputWhenType) {
        this.cleanInputWhenType = false
        this.typedValue = ''
      }

      if (this.typedValue === '0') {
        this.typedValue = value.toString()
      } else {
        this.typedValue += value.toString()
      }
    },
    clear () {
      this.typedValue = '0'
      this.result = 0
      this.isFirstNumber = true
      this.cleanInputWhenType = false
    }
  },
  data () {
    return {
      typedValue: '0',
      result: 0,
      lastNumber: 0,
      cleanInputWhenType: false,
      isFirstNumber: true,
      currentOperator: operatorsEnum.UNDEFINED,
      nextOperator: operatorsEnum.UNDEFINED
    }
  }
}
</script>

<style scoped>
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #eaeaea;
}

.operator {
  color: #337cac;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
</style>
